<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<section class="productos">
    <h2>Mi carrito</h2>
    <% @cart.line_items.each do |item| %>
      <article class="producto">
        <%= image_tag(item.product.image_url) %>
        <h3><%= item.product.title %></h3>
        <p><%= item.product.description %></p>
      </article>
    <% end %>
</section>