/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* { margin: 0; }
html { background-color: #ecf0f1; }
body {
  background-color: #34495e;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 1080px;
}
.logo, h1 {
  display: inline-block;
  vertical-align: middle;
}
.logo {
  width: 70px; 
}
h1 {
  font-size: 2em;
  font-weight: normal;
}
header, footer {
  background-color: #e67e22;
  color: white;
  padding: 20px 0;
  text-align: center;
}
nav {
  box-sizing: border-box;
  float: left;
  padding: 1em 2em;
  width: 20%;
  max-width: 150px;
}
nav ul { padding: 0; }
nav ul a {
  color: white !important;
  font-size: 1.2em;
  list-style: none;
  text-decoration: none;
}
nav ul a:hover {
  text-decoration: underline;
}
nav ul li { margin-bottom: .5em; }
section {
  background-color: white;
  margin-left: 20%;
  padding: 1em 2em;
}
.producto {
  border-top: 5px dotted #999;
  overflow: hidden;
  padding: 1em 0 2em;
}
.producto img {
  float: left;
  margin-right: 1em;
  width: 150px;
}
h3, h2, p {
  margin-bottom: .5em;
}
.total{
  color:green;
  display: inline-block;
  margin-bottom: 15px;
}
button {
  background-color: #2ecc71;
  border: 1px solid #27ae60;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: .5em 1em;
}
button:hover {
  background-color: #27ae60;
  cursor: pointer;
}

#notice{
  color: #008000;
  float: right;
  background: #fff;
  border: 1px solid #e67e22;
  padding: 6px;
  margin: 5px 29px 0 20px;
}



@media screen and (max-width: 480px) {
  .producto { text-align: center; }
  .producto img {
    float: none;
    margin: 0;
  }
  .producto p {
    text-align: left;
  }
  button {
    display: block;
    margin: 0 auto;
  }
  nav { display: none; }
  .productos { margin-left: 0; }
}