<section class="productos">
    <h2>Catálogo de productos</h2>
    <article class="producto">
      <img src="imagenes/deadpool.jpg" alt="Longclaw" />
      <h3>Espada de Jon Snow</h3>
      <p>Consigue el tuyo ahora! Longclaw, la espada de Jon, de Juego de Tronos, se mantuvo fuera de la vista, hasta que la fatídica noche llegó cuando un wight - un hombre muerto traído a la vida por las criaturas de leyenda de pesadilla - trató de matar a Old Bear en su sueño...</p>
      <span>$250.00</span>
      <button>Añadir al carrito</button>
    </article>
    <article class="producto">
      <img src="imagenes/deadpool.jpg" alt="Longclaw" />
      <h3>Espada de Jon Snow</h3>
      <p>Consigue el tuyo ahora! Longclaw, la espada de Jon, de Juego de Tronos, se mantuvo fuera de la vista, hasta que la fatídica noche llegó cuando un wight - un hombre muerto traído a la vida por las criaturas de leyenda de pesadilla - trató de matar a Old Bear en su sueño...</p>
      <span>$250.00</span>
      <button>Añadir al carrito</button>
    </article>
    <article class="producto">
      <img src="imagenes/deadpool.jpg" alt="Longclaw" />
      <h3>Espada de Jon Snow</h3>
      <p>Consigue el tuyo ahora! Longclaw, la espada de Jon, de Juego de Tronos, se mantuvo fuera de la vista, hasta que la fatídica noche llegó cuando un wight - un hombre muerto traído a la vida por las criaturas de leyenda de pesadilla - trató de matar a Old Bear en su sueño...</p>
      <span>$250.00</span>
      <button>Añadir al carrito</button>
    </article>
  </section>